@import "components";

$dialog-animation-duration: 750ms;

.animation-target {
  -webkit-animation: animation 1000ms ease-in-out both;
  animation: animation 1000ms ease-in-out both;
}

.is-hidden {
  display: none;
}

.button-close {
  width: 75px;
  background: none;
  border: none;
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0,0,0,0.6);
}

.modal-content {
  width: 100%;
  height: 100vh;
  opacity: 0.91;
  background: #fff;
  position: relative;
  .modal-header {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid lightgray;
    height: 11vh;
    > h3 {
      align-self: center;
      margin-left: 16px;
    }
  }
  .modal-body {
    padding: 0px 12px;
    overflow-y: scroll;
    height: 79vh;
  }
  .modal-footer {
    height: 10vh;
  }
}

.element {
  -webkit-animation: unfoldIn $dialog-animation-duration cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  -moz-animation: unfoldIn $dialog-animation-duration cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  -ms-animation: unfoldIn $dialog-animation-duration cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  -o-animation: unfoldIn $dialog-animation-duration cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  animation: unfoldIn $dialog-animation-duration cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  .modal-background {
    .modal {
      transform:scale(0);
      animation: zoomIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }
  }
}

.size-down {
  @include transition-link(.7s);
  // opacity: 0.7;
  // border: 1px solid black;
  transform: scale(1);
  -webkit-box-shadow: 0 3px 2px 0 #BDBDBD;
  box-shadow: 0 3px 2px 0 #BDBDBD;
  -webkit-animation: unfoldOut $dialog-animation-duration .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  -moz-animation: unfoldOut $dialog-animation-duration .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  -ms-animation: unfoldOut $dialog-animation-duration .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  -o-animation: unfoldOut $dialog-animation-duration .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  animation: unfoldOut $dialog-animation-duration .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  .modal-background {
    .modal {
        animation: zoomOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }
  }
}

@keyframes sizeDown {
  from {
    background: #BDBDBD;
    width: 100%;
  }
  to {
    background: #fafafa;
    width: 0px;
  }
}

// @-webkit-keyframes sizeDown {
//   from {
//     background: gold;
//     left: 0px;
//   }
//   to {
//     background: red;
//     left: -1000px;
//     // height: 0px;
//   }
// }

@-moz-keyframes sizeDown {
  from {
    left: 0px;
  }
  to {
    left: -100%;
    // height: 0px;
  }
}

@-ms-keyframes sizeDown {
  from {
    left: 0px;
  }
  to {
    left: -100%;
    // height: 0px;
  }
}

@-o-keyframes sizeDown {
  from {
    left: 0px;
  }
  to {
    left: -100%;
    // height: 0px;
  }
}

@keyframes dialogAnimation {
  from {
    width: 10%;
    height: 0px;
  }
  to {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
  }
}

@-webkit-keyframes dialogAnimation {
  from {
    width: 10%;
    height: 0px;
  }
  to {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
  }
}

@-moz-keyframes dialogAnimation {
  from {
    width: 10%;
    height: 0px;
  }
  to {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
  }
}

@-ms-keyframes dialogAnimation {
  from {
    width: 10%;
    height: 0px;
  }
  to {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
  }
}

@-o-keyframes dialogAnimation {
  from {
    width: 10%;
    height: 0px;
  }
  to {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
  }
}

@keyframes unfoldIn {
  0% {
    transform:scaleY(.005) scaleX(0);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform:scaleY(1) scaleX(1);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform:scale(0);
  }
  100% {
    transform:scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform:scale(1);
  }
  100% {
    transform:scale(0);
  }
}
