.navbar-container {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  padding: 15px;
  font-weight: 200;
  background-color: #eee;
  -webkit-box-shadow: 0 3px 2px 0 #BDBDBD;
  box-shadow: 0 3px 2px 0 #BDBDBD;
  z-index: 10;
}

.resume {
  float: right;
  margin-top: 25px;
}

.resume-btn {
  // font-family: 'Bungee Inline', cursive;
  &:hover {
    cursor: pointer;
  }
}
