@import "components";
@import "main.scss";
$skill-animation-duration: 1750ms;

$html-skill: 89%;
$html-color: #ff6e48;
$css-skill: 69%;
$css-color: #ff6e48;
$javascript-skill: 75%;
$javascript-color: #ff6e48;
$java-skill: 55%;
$java-color: #ff6e48;
$ruby-skill: 41%;
$ruby-color: #ff6e48;
$mysql-skill: 43%;
$mysql-color: #ff6e48;
$mongo-skill: 41%;
$mongo-color: #ff6e48;
$node-skill: 67%;
$node-color: #ff6e48;

@mixin animate($name, $delay) {
  animation-name: $name;
  -webkit-animation-name: $name;
  animation-duration: 1.7s;
  -webkit-animation-duration: 1.7s;
  animation-delay: $delay;
  -webkit-animation-delay: $delay;
  animation-timing-function: cubic-bezier(.6,.37,.46,.74);
  -webkit-animation-timing-function: cubic-bezier(.6,.37,.46,.74);
  animation-fill-mode: backwards;
  -webkit-animation-fill-mode: backwards;
}

// @mixin animate($name, $type) {
//   -webkit-animation: $name $skill-animation-duration 5s 1 $type running;
//   -moz-animation: $name $skill-animation-duration 5s 1 $type running;
//   -ms-animation: $name $skill-animation-duration 5s 1 $type running;
//   -o-animation: $name $skill-animation-duration 5s 1 $type running;
//   animation: $name $skill-animation-duration 5s 1 $type running;
// }

@mixin progress($width, $name) {
  @keyframes  #{$name} {
    from {
      width: 0px;
    }
    to {
      width: $width;
    }
  }
  @-webkit-keyframes #{$name} {
    from {
      width: 0px;
    }
    to {
      width: $width;
    }
  }
  @-moz-keyframes #{$name} {
    from {
      width: 0px;
    }
    to {
      width: $width;
    }
  }
  @-ms-keyframes #{$name} {
    from {
      width: 0px;
    }
    to {
      width: $width;
    }
  }
  @-o-keyframes #{$name} {
    from {
      width: 0px;
    }
    to {
      width: $width;
    }
  }
}

.legend {
  display: block;
}

.bar-container {
  padding: 7px;
  width: 55vw;
  margin: auto;
  .skill-name {
    text-align: left;
    margin: 0px;
    font-family: 'Bungee Inline', cursive;
  }
  .outer-bar {
    height: 7px;
    border-radius: 10px;
    margin-top: 5px;
    background: #e4e3e3;
    .inner-bar {
      border-radius: inherit;
      height: 7px;
    }
    .html-skill {
      background: $html-color;
      width: $html-skill;
      @include progress($html-skill, htmlSkill);
      @include animate(htmlSkill, 500ms);
    }
    .css-skill {
      background: $css-color;
      width: $css-skill;
      @include progress($css-skill, cssSkill);
      @include animate(cssSkill, 750ms);
    }

    .javascript-skill {
      background: $javascript-color;
      width: $javascript-skill;
      @include progress($javascript-skill, javascriptSkill);
      @include animate(javascriptSkill, 1s);
    }

    .java-skill {
      background: $java-color;
      width: $java-skill;
      @include progress($java-skill, javaSkill);
      @include animate(javaSkill, 1.5s);
    }

    .ruby-skill {
      background: $ruby-color;
      width: $ruby-skill;
      @include progress($ruby-skill, rubySkill);
      @include animate(rubySkill, 1.75s);
    }

    .mysql-skill {
      background: $mysql-color;
      width: $mysql-skill;
      @include progress($mysql-skill, mysqlSkill);
      @include animate(mysqlSkill, 2s);
    }

    .mongo-skill {
      background: $mongo-color;
      width: $mongo-skill;
      @include progress($mongo-skill, mongoSkill);
      @include animate(mongoSkill, 1.25s);
    }

    .node-skill {
      background: $node-color;
      width: $node-skill;
      @include progress($node-skill, nodeSkill);
      @include animate(nodeSkill, 1.25s);
    }
  }
}

.chart {
  margin: 0px;
  position: relative;
  display: inline-block;
  color: #999;
  font-size: 20px;
  text-align: center;
  .circle {
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation-fill-mode:forwards; /*IE 10+*/
    animation-fill-mode:forwards; /*when the spec is finished*/

    stroke-dasharray: 534;
    stroke: $default-color;
    stroke-width: 10px;
    padding: 10px;
    fill: white;
  }
  .outer-circle {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    stroke-dashoffset: 534;
    padding: 7px;

    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation-fill-mode:forwards; /*IE 10+*/
    animation-fill-mode:forwards; /*when the spec is finished*/
  }
}

@mixin skill-keyframe($dashoffset, $skill) {
  @keyframes  #{$skill} {
    from {
      stroke-dashoffset: 534;
    }
    to {
      stroke-dashoffset: $dashoffset;
    }
  }
  @-webkit-keyframes #{$skill} {
    from {
      stroke-dashoffset: 534;
    }
    to {
      stroke-dashoffset: $dashoffset;
    }
  }
  @-moz-keyframes #{$skill} {
    from {
      stroke-dashoffset: 534;
    }
    to {
      stroke-dashoffset: $dashoffset;
    }
  }
  @-ms-keyframes #{$skill} {
    from {
      stroke-dashoffset: 534;
    }
    to {
      stroke-dashoffset: $dashoffset;
    }
  }
  @-o-keyframes #{$skill} {
    from {
      stroke-dashoffset: 534;
    }
    to {
      stroke-dashoffset: $dashoffset;
    }
  }
}
//534, 220 pieno
.frontend-animation {
  //587 242
  @extend .outer-circle;
  @include skill-keyframe(292, frontendSkill);
  @include animate(frontendSkill, ease-in-out);
}

.backend-animation {
  //536 191
  @extend .outer-circle;
  @include skill-keyframe(343, overallSkill);
  @include animate(overallSkill, ease-in-out);
}

.total {
  position: absolute;
  width: 60%;
  margin: auto;
  top: 37px;
  left: 23px;
  padding: 0px;
  font-family: 'Bungee Inline', cursive;
  font-size: 31px;
}

.frontend {
  @extend .total;
}

.backend {
  @extend .total;
}
