<div class="me">
  <br><br>
  <img src="images/profile_16.jpg" alt="me" class="profile-me">
  <br>
  <p>
    Hello, my name is Massimo Presta and I am a Software Engineer. I really enjoy to write
    code on either side of the stack, from designing Cassandra data models and Implementing
    web APIs in Java, to create client web apps using Vue and scss. I am a positive thinker,
    a team player and a good communicator. I currenlty work as a Platform Engineer at
    <a href="https://www.smartsparrow.com/" target="_blank">Smart Sparrow</a>
    focusing on delivering server side solutions, implementing web services and exposing APIs.
  </p>
</div>
