<div class="resume-page">
  <!-- <div style="text-align:right;">
    <button type="button" class="resume-btn" onclick="">download</button>
  </div> -->
  <div id="resume-document">
    <h1 class="res-centered">Massimo Presta</h1>
    <p class="res-lead res-centered">+61 402 145 742 | mexassi85@gmail.com</p>
    <h1>Skills</h1>
    <hr>
    <div class="res-skills">
      <ul>
        <li>Java, Cassandra, MySQL</li>
        <li>Node.js, MongoDB</li>
        <li>JavaScript, Vue</li>
        <li>HTML, scss, bulma</li>
      </ul>
      <ul>
        <li>Git, Gitlab, Github</li>
        <li>Jira, Trello</li>
        <li>Electron</li>
        <li>Good communication</li>
        <li>Team player</li>
      </ul>
    </div>
    <h1>Education</h1>
    <hr>
    <h2 class="res-title">Academy of Information Technology</h2>
    <p class="res-lead">From 2013 to 2016</p>
    <p>Bachelor of Information Technology majoring in Mobile App development. Graduated with distinction.</p>
    <h1>Work experience</h1>
    <hr>
    <h2 class="work-title">Smart Sparrow</h2>
    <p class="work-lead">From July 2017 till now</p>
    <p>Platform Engineer</p>
    <div class="indented">
      <p>
        Implementation core architecture of a multi-threaded websocket messaging API.
        Implementation of various RESTful web-services in a non-blocking fashion.
        Designing data structure represented in Cassandra tables. Unit tests with
        Jupiter, integration tests with Citrus using Cucumber (Framework configuration
        and maintenance). Agile methodologies kanban and scrum. Analysis of user stories
        and requirement gathering to define success criteria and meet product owner expectations.
      </p>
    </div>
    <h2 class="res-title">Pavilion Health</h2>
    <p class="res-lead">From January 2017 to July 2017</p>
    <p>Tech Lead</p>
    <div class="res-indented">
      <p>
        Designed the architecture for a file drop integration between two systems.
        Sprint planning, task estimation and allocation. Managing pull requests and
        code reviews. Implementation of java microservice integration system.
        Maintenance of Angular app.
      </p>
    </div>
    <h2 class="res-title">Pavilion Health</h2>
    <p class="res-lead">From May 2015 to December 2016</p>
    <p>Junior Developer</p>
    <div class="res-indented">
      <p>
        Introduced to the company agile methodologies learned @ThoughtWorks LevelUp.
        Implemented continuous integration with Jenkins. Contributed building an
        Angular app architecture. Implemented front end building system from scratch
        using npm and Gulp (Migrated from rails sprockets). Re-designed menu for
        tree-data visualization. Fixing bugs and maintenance of rails RESTful api
        and a java microservice architecture. Ensuring code reliability writing
        unit tests with karma, rspec and Junit.
      </p>
    </div>
    <h2 class="res-title">Freelance job</h2>
    <p class="res-lead">From April 2016 to April 2017</p>
    <p>Developer</p>
    <div class="res-indented">
      <p>
        Contributor in developing social-like platform using the MEAN stack, MongoDB, node.js and
        Angular 1. Develop RESTful api using the express.js framework. Communication with client.
      </p>
    </div>
    <h2 class="res-title">Freelance job</h2>
    <p class="res-lead">From December 2014 to February 2015</p>
    <p>Developer</p>
    <div class="res-indented">
      <p>
        Implementing contact us form. Implement images display for a chat-like
        component. Implementing image upload functionality with Javascript.
        Implementing password.
      </p>
    </div>
  </div>
  <br>
  <h1>On going side projects</h1>
  <hr>
  <h2 class="res-title">Argos 2</h2>
  <p class="res-lead">Electron app to test websocket APIs and GraphQL queries</p>
  <br>
  <h2 class="res-title">Bookmarking web platform</h2>
  <p class="res-lead">Powered by express.js, MongoDB backend and Vue.js frontend</p>
  <br>
  <br>
  <div class="action res-centered print-resume">
    <a class="action-button shadow animate gray" onclick="namespace.printResume()">print</a>
  </div>
  <br>
</div>
