<div class="">
  <br>
  <!-- <p>
    here you find my skills!! I am a javascript maniac
  </p> -->
  <div class="modal-section">
    <div class="bar-container">
      <p class="skill-name">
        Java
      </p>
      <div class="outer-bar">
        <div class="inner-bar java-skill">
        </div>
      </div>
    </div>
    <div class="bar-container">
      <p class="skill-name">
        Node.js
      </p>
      <div class="outer-bar">
        <div class="inner-bar node-skill">
        </div>
      </div>
    </div>
    <div class="bar-container">
      <p class="skill-name">
        Cassandra
      </p>
      <div class="outer-bar">
        <div class="inner-bar cassandra-skill">
        </div>
      </div>
    </div>
    <div class="bar-container">
      <p class="skill-name">
        MongoDB
      </p>
      <div class="outer-bar">
        <div class="inner-bar mongo-skill">
        </div>
      </div>
    </div>
    <div class="bar-container">
      <p class="skill-name">
        HTML
      </p>
      <div class="outer-bar">
        <div class="inner-bar html-skill">
        </div>
      </div>
    </div>
    <div class="bar-container">
      <p class="skill-name">
        Css/scss
      </p>
      <div class="outer-bar">
        <div class="inner-bar css-skill">
        </div>
      </div>
    </div>
    <div class="bar-container">
      <p class="skill-name">
        JavaScript
      </p>
      <div class="outer-bar">
        <div class="inner-bar javascript-skill">
        </div>
      </div>
    </div>
    <div class="bar-container">
      <p class="skill-name">
        RoR
      </p>
      <div class="outer-bar">
        <div class="inner-bar ruby-skill">
        </div>
      </div>
    </div>
    <div class="bar-container">
      <p class="skill-name">
        MySQL
      </p>
      <div class="outer-bar">
        <div class="inner-bar mysql-skill">
        </div>
      </div>
    </div>
    <div class="bar-container">
      <p class="skill-name">
        Vue
      </p>
      <div class="outer-bar">
        <div class="inner-bar vue-skill">
        </div>
      </div>
    </div>
    <div class="bar-container">
      <p class="skill-name">
        Bash
      </p>
      <div class="outer-bar">
        <div class="inner-bar bash-skill">
        </div>
      </div>
    </div>
    <div class="bar-container">
      <p class="skill-name">
        GraphQL
      </p>
      <div class="outer-bar">
        <div class="inner-bar graphql-skill">
        </div>
      </div>
    </div>
    <br />
    <!-- <div class="box">
      <div class="box-unit no-height">
        <figure class="chart">
          <svg class="frontend-animation" width="100" height="100" data-skill="550">
            <circle class="circle html-color" cx="50" cy="50" r="50" />
          </svg>
          <span class="frontend">0</span>
        </figure>
        <span class="legend">Front end</span>
      </div>
      <div class="box-unit no-height">
        <figure class="chart">
          <svg class="backend-animation" width="100" height="100" data-skill="550">
            <circle class="circle html-color" cx="50" cy="50" r="50" />
          </svg>
          <span class="backend">0</span>
        </figure>
        <span class="legend">Back end</span>
      </div>
    </div> -->
  </div>
  <p>
</div>
